{% extends 'base.html' %}

{% block content %}

		

<div class="container pt-3" id ="form-data" style="background-color:#BBC1D3; padding-bottom: 20px;" ><br>
	
	<h1 style="text-align: center;">Welcome to the project</h1><br><br>

	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p><br><br>

<table class="table" id="binary-models-table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Model</th>
      <th scope="col">Training Accuracy</th>
      <th scope="col">Validation Accuracy</th>
      <th scope="col">Prediction Accuracy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Sequential</th>
      <td>%</td>
      <td>%</td>
      <td>%</td>
    </tr>
    <tr>
      <th scope="row">Sequential 2.0</th>
      <td>%</td>
      <td>%</td>
      <td>%</td>
    </tr>
    <tr>
      <th scope="row">Parallel Sequential</th>
      <td>%</td>
      <td>%</td>
      <td>%</td>
    </tr>
    <tr>
      <th scope="row">Xception</th>
      <td>%</td>
      <td>%</td>
      <td>%</td>
    </tr>
  </tbody>
</table>


	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p><br><br>

<table class="table" id="threelabel-models-table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Model</th>
      <th scope="col">Training Accuracy</th>
      <th scope="col">Validation Accuracy</th>
      <th scope="col">Prediction Accuracy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Sequential</th>
      <td>%</td>
      <td>%</td>
      <td>%</td>
    </tr>
    <tr>
      <th scope="row">Sequential 2.0</th>
      <td>%</td>
      <td>%</td>
      <td>%</td>
    </tr>
    <tr>
      <th scope="row">Parallel Sequential</th>
      <td>%</td>
      <td>%</td>
      <td>%</td>
    </tr>
    <tr>
      <th scope="row">Xception</th>
      <td>%</td>
      <td>%</td>
      <td>%</td>
    </tr>
  </tbody>
</table>




	<br><br><br><br>
</div>

{% endblock %}